body{
    background-color: black;
}
#tit{
    color:rgb(224, 101, 122);
    text-align: center;
    margin-top: -60px;
}
#ImatgeP{
    background-color: white;
    text-align: center;
}
#paguinaweb{
    margin-left: 100px;
}
#audio{
    text-align: center;
    margin-top: -120px;
}
#Titol_Musica{
    color:pink;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}
#Components{
    color:pink;
    font-size: medium;
    text-align: center;
    margin-left: -300px;
    margin-top: 50px;
}

#Instrument{
    color:pink;
    font-size: medium;
    text-align: center;
    margin-left: 300px;
    margin-top: -200px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: pink;
  }
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top:0%;
    right: 0%;
    z-index: 1000;
}
.ima{
    background-color: black;
    position: static;
    width: 100%;
    top:0%;
    right: 0%;
    z-index: 1000; 
}
.iframe{
    width:100%;
    margin-top: 40px;
}
.posicion {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -35px;
}
.colorleter{
    color: pink;
}
.videos{
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
}
#Foto{
    color: pink;
}
#AllFoto{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
#FotoPeuPaguina1{
    text-align: center;
    margin-top: 100px;
    
}
#FotoPeuPaguina2{
    text-align: center;
    margin-top: 100px;
}
#FotoPeuPaguina3{
    text-align: center;
    margin-top: 100px;
}