:root {
    color: #000000;
    cursor: url(martilloThor.png),auto;
  }
  body {
    font-family: 'Comic Sans MS';
    background-color: green;
    background-image: url(golf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  #section_tauler,
  #section_score {
    justify-content: center;
    display: flex;
    margin-top: 4%;
  }
  
  h1 {
    text-align: center;
    margin: 0px auto;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    top: 50%;
    margin-top: -4vw;
    transition: 4s;
    text-shadow: -0.1vw -0.1vw 0px var(--background),
      0.3vw 0.3vw 0px var(--background),
      0.6vw 0.6vw 0px #00000055;
  }
  
  h2,
  span {
    text-align: center;
    margin: 0px auto;
    font-size: 3vw;
    letter-spacing: 0.5vw;
    top: 50%;
    margin-top: 5vw;
    transition: 4s;
    text-shadow: -0.1vw -0.1vw 0px var(--background),
      0.3vw 0.3vw 0px var(--background),
      0.6vw 0.6vw 0px #00000055;
  }
  
  #tauler {
    margin: 5%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 44%;
    display: flex;
  }
  
  #tauler img {
    margin: 2vw;
    width: 20%;
  }